@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "Home";
    var login = aspNet.EstaAutenticado() ? "window.location = '/loja/" : "openLogin()";
}

<!-- Slider -->
<section class="section-slide">
    <div class="wrap-slick1">
        <div class="slick1">
            <div class="item-slick1" style="background-image: url(images/slide-01.webp);">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                        <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
                            <span class="ltext-101 cl2 respon2">
                                Novos Celulares
                            </span>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
                            <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                                Novos Modelos
                            </h2>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
                            <a href="javascript:void(0)" onclick="@(aspNet.EstaAutenticado() ? "window.location='/loja?search=.Phones'" : "openLogin()" )" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Comprar agora
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item-slick1" style="background-image: url(images/slide-02.webp);">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                        <div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
                            <span class="ltext-101 cl2 respon2">
                                Novos Acessorios
                            </span>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
                            <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                                E Mais
                            </h2>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
                            <a href="javascript:void(0)" onclick="@(aspNet.EstaAutenticado() ? "window.location='/loja?search=.Acessories'" : "openLogin()" )" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Comprar agora
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item-slick1" style="background-image: url(images/slide-03.webp);">
                <div class="container h-full">
                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                        <div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
                            <span class="ltext-101 cl2 respon2">
                                Novos Livros
                            </span>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
                            <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                                Coleções Novas
                            </h2>
                        </div>

                        <div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
                            <a href="javascript:void(0)" onclick="@(aspNet.EstaAutenticado() ? "window.location='/loja?search=.Books'" : "openLogin()" )" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                Comprar agora
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Banner -->
<div class="sec-banner bg0 p-t-80 p-b-50">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img src="~/images/consoles2.jpg" alt="IMG-BANNER">

                    <a href="javascript:void(0)" onclick="@(aspNet.EstaAutenticado() ? "window.location='/loja?search=.GamesConsoles'" : "openLogin()" )" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                        <div class="block1-txt-child1 flex-col-l">
                            <span class="block1-name ltext-102 trans-04 p-b-8">
                                Consoles
                            </span>
                            @*
                            <span class="block1-info stext-102 trans-04">
                                Novidades 2022
                            </span>*@
                        </div>

                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">
                                Comprar agora
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img src="~/images/ebook.jpg" alt="IMG-BANNER">

                    <a href="javascript:void(0)" onclick="@(aspNet.EstaAutenticado() ? "window.location='/loja?search=.Books'" : "openLogin()" )" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                        <div class="block1-txt-child1 flex-col-l">
                            <span class="block1-name ltext-102 trans-04 p-b-8">
                                Livros
                            </span>

                            @*<span class="block1-info stext-102 trans-04">
                                Novidades 2022
                            </span>*@
                        </div>

                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">
                                Comprar agora
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w">
                    <img src="~/images/acessorios.jpg" alt="IMG-BANNER">

                    <a href="javascript:void(0)" onclick="@(aspNet.EstaAutenticado() ? "window.location='/loja?search=.Acessories'" : "openLogin()" )" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                        <div class="block1-txt-child1 flex-col-l">
                            <span class="block1-name ltext-102 trans-04 p-b-8">
                                Acessorios
                            </span>

                            @*<span class="block1-info stext-102 trans-04">
                                Novas novidades
                            </span>*@
                        </div>

                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">
                                Comprar agora
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Product -->
<section class="sec-product bg0 p-t-100 p-b-50">
    <div class="container">
        <div class="p-b-32">
            <h3 class="ltext-105 cl5 txt-center respon1">
                Produtos em destaque
            </h3>
        </div>

        <!-- Tab01 -->
        <div class="tab01">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item p-b-10">
                    <a class="nav-link active" data-toggle="tab" href="#best-seller" role="tab">Mais vendidos</a>
                </li>

                <li class="nav-item p-b-10">
                    <a class="nav-link" data-toggle="tab" href="#featured" role="tab">Novidades</a>
                </li>

                <li class="nav-item p-b-10">
                    <a class="nav-link" data-toggle="tab" href="#sale" role="tab">Ofertas</a>
                </li>

                <li class="nav-item p-b-10">
                    <a class="nav-link" data-toggle="tab" href="#top-rate" role="tab">Mais buscados</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content p-t-50">
                <!-- - -->
                <div class="tab-pane fade show active" id="best-seller" role="tabpanel">
                    <!-- Slide2 -->
                    <div class="wrap-slick2">
                        <div class="slick2">
                            @foreach (var product in Model)
                            {
                                <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                                    <!-- Block2 -->
                                <div class="block2">
                                        <div class="block2-pic hov-img0">
                                            <img src="~/images/@product.Image" alt="IMG-PRODUCT">

                                            <form asp-action="Index" asp-controller="Store" asp-route-id="@product.Id" method="post">
                                               <button type="submit" href="javascript:void(0)" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                                                    Ver Detalhes
                                                </button>
                                            </form>

                                        </div>

                                        <div class="block2-txt flex-w flex-t p-t-14">
                                            <div class="block2-txt-child1 flex-col-l ">
                                                <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                    @product.Name
                                                </a>

                                                <span class="stext-105 cl3">
                                                    @product.Value.ToString("C")
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <!-- - -->
                <div class="tab-pane fade" id="featured" role="tabpanel">
                    <!-- Slide2 -->
                    <div class="wrap-slick2">
                        <div class="slick2">
                            @foreach (var product in Model.Take(1))
                            {
                                <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                                    <!-- Block2 -->
                                <div class="block2">
                                        <div class="block2-pic hov-img0">
                                            <img src="~/images/@product.Image" alt="IMG-PRODUCT">

                                            <form asp-action="Index" asp-controller="Store" asp-route-id="@product.Id" method="post">
                                               <button type="submit" href="javascript:void(0)" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                                                    Ver Detalhes
                                                </button>
                                            </form>
                                            
                                        </div>

                                        <div class="block2-txt flex-w flex-t p-t-14">
                                            <div class="block2-txt-child1 flex-col-l ">
                                                <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                    @product.Name
                                                </a>

                                                <span class="stext-105 cl3">
                                                    @product.Value.ToString("C")
                                                </span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <!-- - -->
                <div class="tab-pane fade" id="sale" role="tabpanel">
                    <!-- Slide2 -->
                    <div class="wrap-slick2">
                        <div class="slick2">
                            @foreach (var product in Model.TakeLast(1))
                            {
                                <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                                    <!-- Block2 -->
                                <div class="block2">
                                        <div class="block2-pic hov-img0">
                                            <img src="~/images/@product.Image" alt="IMG-PRODUCT">

                                            <form asp-action="Index" asp-controller="Store" asp-route-id="@product.Id" method="post">
                                               <button type="submit" href="javascript:void(0)" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                                                    Ver Detalhes
                                                </button>
                                            </form>

                                        </div>

                                        <div class="block2-txt flex-w flex-t p-t-14">
                                            <div class="block2-txt-child1 flex-col-l ">
                                                <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                    @product.Name
                                                </a>

                                                <span class="stext-105 cl3">
                                                    @product.Value.ToString("C")
                                                </span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <!-- - -->
                <div class="tab-pane fade" id="top-rate" role="tabpanel">
                    <!-- Slide2 -->
                    <div class="wrap-slick2">
                        <div class="slick2">
                            @foreach (var product in Model)
                            {
                                <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                                    <!-- Block2 -->
                                <div class="block2">
                                        <div class="block2-pic hov-img0">
                                            <img src="~/images/@product.Image" alt="IMG-PRODUCT">

                                            <form asp-action="Index" asp-controller="Store" asp-route-id="@product.Id" method="post">
                                               <button type="submit" href="javascript:void(0)" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                                                    Ver Detalhes
                                                </button>
                                            </form>

                                        </div>

                                        <div class="block2-txt flex-w flex-t p-t-14">
                                            <div class="block2-txt-child1 flex-col-l ">
                                                <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                    @product.Name
                                                </a>

                                                <span class="stext-105 cl3">
                                                    @product.Value.ToString("C")
                                                </span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Blog -->
<section class="sec-blog bg0 p-t-60 p-b-90">
    <div class="container">
        <div class="p-b-66">
            <h3 class="ltext-105 cl5 txt-center respon1">
                Nosso blog
            </h3>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4 p-b-40">
                <div class="blog-item">
                    <div class="hov-img0">
                        <a href="blog-detail.html">
                            <img src="~/images/blog-01.jpg" alt="IMG-BLOG">
                        </a>
                    </div>

                    <div class="p-t-15">
                        <div class="stext-107 flex-w p-b-14">
                            <span class="m-r-3">
                                <span class="cl4">
                                    Por
                                </span>

                                <span class="cl5">
                                    Nancy Ward
                                </span>
                            </span>

                            <span>
                                <span class="cl4">
                                    em
                                </span>

                                <span class="cl5">
                                    Julho 22, 2022
                                </span>
                            </span>
                        </div>

                        <h4 class="p-b-12">
                            <a href="blog-detail.html" class="mtext-101 cl2 hov-cl1 trans-04">
                                8 ideias de como vender bem
                            </a>
                        </h4>

                        <p class="stext-108 cl6">
                            Procuramos oferecer ofertas que cabem no bolso do usuário comum, possibilitando compras efetivas e uma melhor qualidade de vida.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 p-b-40">
                <div class="blog-item">
                    <div class="hov-img0">
                        <a href="blog-detail.html">
                            <img src="~/images/blog-02.jpg" alt="IMG-BLOG">
                        </a>
                    </div>

                    <div class="p-t-15">
                        <div class="stext-107 flex-w p-b-14">
                            <span class="m-r-3">
                                <span class="cl4">
                                    Por
                                </span>

                                <span class="cl5">
                                    Nancy Ward
                                </span>
                            </span>

                            <span>
                                <span class="cl4">
                                    em
                                </span>

                                <span class="cl5">
                                    Junho 18, 2022
                                </span>
                            </span>
                        </div>

                        <h4 class="p-b-12">
                            <a href="blog-detail.html" class="mtext-101 cl2 hov-cl1 trans-04">
                                Boas ideias e dicas para comprar
                            </a>
                        </h4>

                        <p class="stext-108 cl6">
                            Toda semana disponibilizamos ofertas diversas, onde o cliente consegue ter um acumulo e se tornar cliente fiel, dando ainda mais ofertas exclusivas.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 p-b-40">
                <div class="blog-item">
                    <div class="hov-img0">
                        <a href="blog-detail.html">
                            <img src="~/images/blog-03.jpg" alt="IMG-BLOG">
                        </a>
                    </div>

                    <div class="p-t-15">
                        <div class="stext-107 flex-w p-b-14">
                            <span class="m-r-3">
                                <span class="cl4">
                                    Por
                                </span>

                                <span class="cl5">
                                    Nancy Ward
                                </span>
                            </span>

                            <span>
                                <span class="cl4">
                                    em
                                </span>

                                <span class="cl5">
                                    Agosto 2, 2021
                                </span>
                            </span>
                        </div>

                        <h4 class="p-b-12">
                            <a href="blog-detail.html" class="mtext-101 cl2 hov-cl1 trans-04">
                                Dicas de como usar o site
                            </a>
                        </h4>

                        <p class="stext-108 cl6">
                            Alem do blog, temos contato direto com cliente, então se surgir alguma dúvida, é só entrar em contato com número abaixo que responderemos qualquer pergunta. Também você poderá postar em nosso forum suas dúvidas.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
    <span class="symbol-btn-back-to-top">
        <i class="zmdi zmdi-chevron-up"></i>
    </span>
</div>


@section scripts {

<script>

    $('.parallax100').parallax100();

    $('.gallery-lb').each(function() { // the containers for all your galleries
        $(this).magnificPopup({
            delegate: 'a', // the selector for gallery item
            type: 'image',
            gallery: {
                enabled: true
            },
            mainClass: 'mfp-fade'
        });
    });

    $('.js-pscroll').each(function() {
        $(this).css('position', 'relative');
        $(this).css('overflow', 'hidden');
        var ps = new PerfectScrollbar(this, {
            wheelSpeed: 1,
            scrollingThreshold: 1000,
            wheelPropagation: false,
        });

        $(window).on('resize', function() {
            ps.update();
        })
    });

    (function($){

        let urlPage = new URLSearchParams(window.location.search).get('login')
        let returnUrl = new URLSearchParams(window.location.search).get('ReturnUrl')

        if(urlPage || returnUrl){
            openLogin()
            url = new URL(window.location.href);
            url.searchParams.delete("login");
            window.history.pushState('', '', url);
        }

        let temp = '@TempData["login"]';

        if(temp)
            openLogin()

    }(jQuery));

    $('#modalLoginForm').on('hide.bs.modal', function (event) {
        $('.error-login').addClass('d-none');
    })
</script>
}
